.text-underline {
    text-decoration: underline;
    text-decoration-color: #000;
}

.error-note {
    color: red;
    font-style: italic;
    font-size: 12px;
    display: block;
}

.list-name {
    font-size: 20px;
}